/* font */
.h-tit {
  font-size: rem(22px);
  font-weight: 700;
  line-height: rem(30px);
}
.h-txt {
  color: $grey-color-6;
  font-size: rem(16px);
  font-weight: 400;
  line-height: rem(22px);
  letter-spacing: rem(-1px);
}
.m-txt {
  font-size: rem(14px);
  font-weight: 500;
  color: $grey-color-6;
}